@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html body{
    background-color: black;
    height: 100vh;
    width: 100vw;
}

body{
    background: black url(../imagens/netflix-library.webp) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}
section#televisor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1075px;
    height: 640px;
    background: url(../imagens/tv-1200.png) no-repeat;
}
iframe#tela{
    position: relative;

    top: 9px;
    left: 8px;
    width: 1054px;
    height: 557px;
}

section#aplicativos img{
    border-radius: 40%;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.422);
    box-sizing: border-box;
}

section#aplicativos img:hover{
    border: 2px solid rgba(255, 255, 255, 0.479);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
    transition: transform 0.3s;
    transition: border 0.1s;
}